* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 100%;
  text-decoration: none;
  box-sizing: border-box;
}

body, html { height: 100%; overflow: hidden;}
ul, ol { list-style: none; }

header {
  width: 100vw;
  height: 17vh;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}

header:before {
  content: "";
  width: 100%;
  z-index: -1;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* animation: grow 60s linear .5s infinite; */
  animation: bgimage 10s ease-in-out infinite alternate;
  background: linear-gradient(rgba(103,135,211, .6), rgba(156, 18, 18, 0.6)), url("https://cdn.wallpapersafari.com/60/38/qoGUxm.jpg") no-repeat fixed top center / cover;
}

header nav {
  width: 100%;
}

.logo { 
  margin-top:10px;
  width:80px;
  /* color: #fff;  */
  float: left; 
}

.header-left {
	float: left;
  }

.header-right {
	display: flex;
	flex-wrap: wrap;
	/* align-items: center; */
	/* justify-content: space-around; */
	float: right;
  }

header nav .logo a { color: rgb(255, 255, 255)}

header ul {
  display: flex;
  flex-wrap: wrap;
}

header nav li a {
  color: rgb(255, 255, 255);
  display: block;
  position: relative;
  padding: 40px 40px 0px;
}

header nav li a:before, header nav li a:after {
  content: "";
  bottom: 0;
  width: 0px;
  height: 2px;
  display: block;
  position: absolute;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;  
}

header nav li a:before { right: 30%; }
header nav li a:after { left: 30%; }

header nav li a:hover:before , header nav li a:hover:after {
  width: 30%;
}

/*! Icon */
.fa {
	margin-right: 5px;
  }

header nav .menu-icon {
	color: white;
	float: right;
	font-size: 25px;
	padding: 35px;
	display: none;
}

/* @keyframes grow {
  0% { transform: scale(1) rotate(0deg); }
  50% { transform: scale(1.6) rotate(10deg);}
}

@-webkit-keyframes grow {
  0% { transform: scale(1) rotate(0deg); }
  50% { transform: scale(1.6) rotate(10deg);}
} */

@keyframes bgimage {
	0% {
	  background: url("https://static.pexels.com/photos/1702/bow-tie-businessman-fashion-man-large.jpg") center center no-repeat;
	  background-attachment: fixed;
	  background-size: cover;
	}
	25% {
	  background: url("https://static.pexels.com/photos/20967/pexels-photo-large.jpg") center center no-repeat;
	  background-attachment: fixed;
	  background-size: cover;
	}
	50% {
	  background: url("https://static.pexels.com/photos/4097/city-cars-traffic-lights-large.jpeg") center center no-repeat;
	  background-attachment: fixed;
	  background-size: cover;
	}
	75% {
	  background: url("https://static.pexels.com/photos/51415/pexels-photo-51415-large.jpeg") center center no-repeat;
	  background-attachment: fixed;
	  background-size: cover;
	}
	100% {
	  background: url("https://static.pexels.com/photos/2318/vintage-technology-keyboard-old-large.jpg") center center no-repeat;
	  background-attachment: fixed;
	  background-size: cover;
	}
  }



/* body {padding:4em; background:#fcfcfc;}

.wrap {width:200px; margin:auto;  z-index:1;}

.msg {
  color: whitesmoke;
  font-family: 'Bree Serif', Courier, monospaced;
  font-size:3.5em;
  width:100px;
  position:absolute;
  margin:55px 0 0 2px;
  border: #000000 solid 1px;
  pointer-events: none; 
}

.sticker {
  width:200px;
  height:200px;
  position:absolute;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/13034/sticker.png) top center no-repeat; 
  animation: spin 10s linear infinite;
  animation-play-state: paused; 
  border: #000000 solid 1px;
}

.sticker:hover {
  animation-play-state: running;
}


@keyframes spin {
  100% {transform: rotate(1turn); }
} */